name = "fightclaw-server"
main = "src/index.ts"
compatibility_date = "2025-01-01"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "fightclaw-database-bgciv"
database_id = "7589e184-c8be-4094-9130-f44723859eef"

[[durable_objects.bindings]]
name = "MATCHMAKER"
class_name = "MatchmakerDO"

[[durable_objects.bindings]]
name = "MATCH"
class_name = "MatchDO"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["MatchmakerDO", "MatchDO"]
